*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 10vh;
}

main{
    width: 100vw;
    height: 80vh;
}

main section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/jogos.jpg);
    background-position: center;
    background-size: cover;
}

form{
    width: 31vw;
    min-width: 340px;
    height: 75%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgb(61, 61, 61);
}

form *{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form ul{
    border: 1px solid black;
    background-color: rgb(51, 51, 51);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form li{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 80%;
    color: white;
    white-space: nowrap;
}

form label{
    font-size: 20px;
}

li input{
    height: 100%;
    display: flex;
    font-size: 20px;
    flex-basis: 30px;
    flex-grow: 0.9;
    flex-shrink: 2;
}

div{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: flex-end;
}

div input{
    font-size: 15px;
    width: 50%;
    height: 100%;
    border: 0;
    background-color: rgb(51, 51, 51);
}

#resetList{
    width: 30%;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    align-self: flex-end;
}

#reset{
    font-size: 13px;
    border: 0;
    background-color: transparent;
    color: white;
    width: 100%;
}

#confirm{
    border-bottom-right-radius: 20px;
    color: rgb(0, 175, 0);
}

#confirm:hover{
    border-bottom-right-radius: 20px;
    color: rgb(0, 175, 0);
    font-size: 20px;
    border-top: 2px solid rgb(0, 175, 0);
}