body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
}

header, footer{
    color: white;
    width: 98,9vw;
    height: 20vh;
    clear: both;
}

footer{
    background-color: black;
}

header{
    background-image: url(https://cdn.mos.cms.futurecdn.net/eYPT3ANBuRNcNYdDKdYuJg-1200-80.jpg);
    background-position-x: center;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: block;
    text-align: center;
    align-items: center;
}

header div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#d1{
    display: flex;
    flex-direction:row;
    justify-content: start;
    width: 100%;
    height: 70%;
    align-items: center;
    backdrop-filter: none;
}

#d2{
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    backdrop-filter: none;
}

#d1 img{
    width: 30px;
    height: 30px;
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;    
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#d1 img:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;  
    cursor: pointer;
}

#menu{
    width: 60%;
    height: 60%;
}

header h1{
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 400%;
    margin: 0%;
    margin-top: 4%;
    margin-left: 05%;
    margin-right: 50%;
    width: 30vw;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

header nav{
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: end;
}

header nav ul{
    margin: 0%;
    width: 50%;
    height: 100%;
    display: flex;   
    padding: 0%;
    list-style: none;
    align-items: end;
    justify-content: flex-start;
}

header nav li{
    width: 10vw;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#nav1{
    border-top-left-radius: 5px;
}

#nav4{
    border-top-right-radius: 5px;
}

header a{
    text-decoration: none;
    background-color: rgb(32, 32, 32);
}

header nav a:hover{
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 50xp solid;
    padding-bottom: 10px;
    background-color: white;
    border: none;
    li{
    color: black;
    }
}

aside{
    background-image: url(https://st4.depositphotos.com/22719282/39383/i/450/depositphotos_393831540-stock-illustration-video-game-controller-gamepad-background.jpg);
    background-size: 200px;
    width: 25%;
    height: 300vh;
    float: left;
    display: flex;
    position: relative;
}

aside ul{
    list-style: none;
    display: inline;
}

aside ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

aside ul li{
    margin: 5%;
    display: block;
    align-items: center;
    width: 90%;
    height: 15%;
    background-color: rgb(46, 46, 46);
    text-align: center;
}

aside ul img{
    width: 100%;
    height: 80%;
}

aside ul a{
    display: block;
    font-size: 120%;
    margin-top: 6%;
    color: rgb(68, 65, 255);
}

main{
    width: 75%;
    height: 300vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    align-content: space-around;
}

main section{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 250px;
}

section article{
    background-color: rgb(32, 32, 32);
    width: 48%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

.esqueda{
    justify-content: start;
}

.direita{
    justify-content: end;
}

main section h2{
    display: flex;
    align-items: center;
    margin: 0%;
    margin-bottom: 5%;
    font-size: 30px;
    width: auto;
    white-space: nowrap;
    height: 35vh;
}

main section div{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 80%;
    p{
        margin-right: 7%;
    }
}

main section p{
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 25px;
    margin: 10px;
    width: 35%;
    height: 50%;
}

#sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
}

#sec2{
    display: flex;
    justify-content: start;
    p{
        margin-left: 7%;  
    }
    article{
        padding-right: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

#sec3{
    display: flex;
    justify-content: end;
    p{
        margin-right: 7%;
    }
    article{
        padding-left: 2%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}

#sec4{
    display: flex;
    justify-content: start;
    p{
        margin-left: 7%;
    }
    article{
        padding-right: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

#sec5{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f208a0b1-b95d-4e18-9279-dc040bc0300c/d6zy5m0-8cf85eaf-2d93-4725-b6ad-171adb19e8ad.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YyMDhhMGIxLWI5NWQtNGUxOC05Mjc5LWRjMDQwYmMwMzAwY1wvZDZ6eTVtMC04Y2Y4NWVhZi0yZDkzLTQ3MjUtYjZhZC0xNzFhZGIxOWU4YWQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sATYmipo0uzS0s8sZ7ZaqKFj_N-yj2Z2zSHOIwpZZd4);
    background-size: 1100px;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    margin: 0%;
    width: 100%;
    height: 300px;
    article{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-evenly;
        justify-items: center;
        width: 45%;
        background-color: transparent;
    }
}

section img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

#cadastro{
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    height: 80%;
}

#cadastro a{
    width: 65%;
}

#Mario{
    background-color: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    width: 70%;
    height: 70%;

}

#textCadrastro{
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 40%;
    height: 60%;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

section button{
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(107, 107, 107);
    color: white;
    margin-right: 10%;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px black;
    width: 100%;
    height: 100%;
}

main section button:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
}

main section div article{
    background-color: rgb(32, 32, 32);
    align-items: center;
    width: 48%;
    height: 100%;
    margin: 0;
    padding-left: 2%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

footer{
    height: 10vh;
    display: flex;
    position: relative;
    align-items: center;
}

footer p{
    display: block;
    text-align: center;
    width: 100vw;
}
